<div class="about">
    <h3>Here Is What Our ProGrads Have To Say</h3>
    <div class="container">
        <article>
            <img class="img" src="../../assets/avatar.png" alt="ava-img" height="50px" width="50px">
            <p><b>PRAVESH, FSD0A0221</b></p>
            <p>Im my academics, I learnt only Theoretical concepts of programming
                but Prograd emphasized my coding knowledge by teaching me a different approach
                in solving all the coding problems. 
            </p>        
        </article><br>
        <hr color="lightgrey" width="90%"  height="5px">
        <article>
            <img class="img" src="../../assets/avatar.png" alt="ava-img" height="50px" width="50px">
            <p><b>ROBIN HOODA, FSD0B0001</b></p>
            <p>Prograd not only helped me in utilizing my knowledge to the best of my capabalities but also nurtured my technical skills and competencies.
            </p>
        
        </article>
    </div>




</div>
