<div class="home">
    <div>
        <img src="../../assets/home_img.JPG" class="image" alt="img">

    </div>
    <h1>Hear It From Our</h1>
    <h1>Prograds</h1>

    <p>Being a ProGrad is a life-time experience. In the past, we have several times tried showing thw world
        what is to be a ProGrad. But, we soon realised that no one can better describe this 
        journey than our ProGrads themselves
    </p><br>
    <p class="p2">So here we are with a mission to let the world hear it from our Prograds!></p><br>
    <p class="p3">#ProudProGrads #YourDreamOurMission</p>
</div>
